<!DOCTYPE HTML>
<html>
<head>
<title>Portfolio Site</title>


<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/flexslider.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/magnific-popup.css') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/classie.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/easing.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.flexslider.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.1.4.min.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/move-top.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/nivo-lightbox.min.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/responsiveslides.min.js') }}">
<script type="text/javascript" src="{{ url_for('static',filename='js/uisearch.js') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
</script>
<meta name="keywords" content="Auction Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndriodCompatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!--Google Fonts-->
<link href='//fonts.googleapis.com/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

</head>
<body>
<!-- //end-smoth-scrolling -->
<!--header start here-->
<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo img-Responsive img-fluid">
				<a href="{{url_for('Welcome')}}"> <img src="static/images/final_logo.png" alt="" title=""> </a>
			</div>
			<div class="head-right">
			  <div class="top-nav">
					<span class="menu"> <img src="static/images/icon.png" alt=""/></span>
				<ul class="res">
					<li><a href="{{url_for('Welcome')}}">Home</a></li> <!-- to pass href in html we have to give function name whichg we have created in main.py file --> 
					<li><a href="{{url_for('about')}}">About Me</a></li>
					<li><a href="{{url_for('skills')}}">Skills</a></li>
					<li><a class="active" href="{{url_for('Projects')}}">Projects</a></li>
					<li><a href="{{url_for('contact')}}">Contact</a></li>
				<div class="clearfix"> </div>
				</ul>
				<!-- script-for-menu -->
							 <script>
							   $( "span.menu" ).click(function() {
								 $( "ul.res" ).slideToggle( 300, function() {
								 // Animation complete.
								  });
								 });
							</script>
			<!-- /script-for-menu -->
			 </div>
		    
			
				
			<div class="search-box">
				<div id="sb-search" class="sb-search">
					<form>
						<input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
						<input class="sb-search-submit" type="submit" value="">
						<span class="sb-icon-search"> </span>
					</form>
			   </div>
			</div>
			<div class="clearfix"> </div>
			   <!-- search-scripts -->
					<script src="js/classie.js"></script>
					<script src="js/uisearch.js"></script>
						<script>
							new UISearch( document.getElementById( 'sb-search' ) );
						</script>
			  <!-- //search-scripts -->
		</div>
		
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="banner">
	<div class="services">
		<div class="container">
			<div class="services-main">
				<div class="services-top">
					<h3 style='font-size:50px'>Projects</h3>
					<p>Every project has challenges, and every project has its reward.</p>
				</div>
				<div class="services-bottom">
					<div class="row">
						<div class="col-sm-6 col-md-4 ser">
						<div class="thumbnail">
						  <img src="static/images/goldprice.jpg" style="width: 34rem; height: 26rem;" alt="" class="rounded img-fluid img-thumbnail img-Responsive">
						  <div class="caption">
							<a href='https://github.com/AnukulSri/DS_ML/tree/main/gold%20price%20prediction'><h4><b>Gold Price Prediction</b></h4></a>
							<p>In this I have used machine learning algorithm <i>Random Forest Regressor</i> to predict the price of gold with the given dataset. </p>
						  </div>
						</div>
						  </div>
						   <div class="col-sm-6 col-md-4 ser">
						<div class="thumbnail">
						  <img src="static/images/house.png" style="width: 34rem; height: 26rem;" alt="">
						  <div class="caption">
							<a href='https://github.com/AnukulSri/DS_ML/blob/main/Linear%20Regression/01-Linear%20Regression%20with%20Python.ipynb'><h4><b>House Price Prediction</b></h4></a>
							<p>In this project I have used machine learning alogorithm <i>Linear Regression</i>to predict the price of House.</p>
						  </div>
						</div>
						  </div>
						   <div class="col-sm-6 col-md-4 ser">
						<div class="thumbnail">
						  <img src="static/images/recommender.png" style="width: 34rem; height: 26rem;" alt="">
						  <div class="caption">
							<a href='https://github.com/AnukulSri/MultiSite-Web-Crawler'><h4><b>Recommender System</b></h4></a>
							<p>In this, we are crawling the data from multiple sites, and then apply <i>machine learning concept</i> to provide best result to the user.</p>
						  </div>
						</div>
						  </div>
					   <div class="clearfix"> </div>
					</div>
					<div class="row">
						  <div class="col-sm-6 col-md-4 ser">
						<div class="thumbnail">
						  <img src="static/images/gesture.jpg" style="width: 34rem; height: 26rem;" alt="">
						  <div class="caption">
							<a href='https://github.com/AnukulSri/Gesture-Control-Video-Player'><h4><b>Gesture Control Video Player</b></h4></a>
							<p>In this I have used <i>computer vision</i> concept to recognize hand and from it we can control particular videos.</p>
						  </div>
						</div>
						  </div>
						   <div class="col-sm-6 col-md-4 ser">
						<div class="thumbnail">
						 <img src="static/images/ipl_analysis.png" style="width: 34rem; height: 26rem;" alt="">
						  <div class="caption">
						   <a href='https://github.com/AnukulSri/Data-Analysis/tree/master/Ipl%202022%20Analysis'><h4><b>IPL 2022 Analysis</b></h4></a>
							<p>In this i have used python's visulaization libraries like <i>plotly, matplotlib, seaborn</i> to visualize the ipl data. </p>
						  </div>
						</div>
						  </div>
						   <div class="col-sm-6 col-md-4 ser">
						<div class="thumbnail">
						  <img src="static/images/port.jpg" style="width: 34rem; height: 26rem;" alt="">
						  <div class="caption">
							<a href='#'><h4><b>Portfolio Site</b></h4></a>
							<p>This project I have created by using <i>flask</i>. In this i have created multiple web pages using bootstrap. 
							</p>
						  </div>
						</div>
					 </div>
					   <div class="clearfix"> </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>
</body>
</html>

